<a href="https://colab.research.google.com/github/Ananya-Upadhyaya/Ananya-Upadhyaya/blob/main/Student_exam_results_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime

In [42]:
students = ['Aisha','Bobby','Erik','Charlie']

In [4]:
scores = [90, 87,63,59]

In [43]:
exam_results = pd.DataFrame(
    {
        'Name' : students,
        'Scores' : scores
    }
)

exam_results

      Name  Scores
0    Aisha      90
1    Bobby      87
2     Erik      63
3  Charlie      59

In [10]:
# using loc keyword

exam_results.loc[0, 'Scores']
exam_results

exam_results['Scores']

0    90
1    87
2    63
3    59
Name: Scores, dtype: int64

In [11]:
exam_results.loc[:, 'Scores']

0    90
1    87
2    63
3    59
Name: Scores, dtype: int64

In [12]:
exam_results.loc[1,:]

Name      Bob
Scores     87
Name: 1, dtype: object

In [44]:
#Add Columns

gender = ['Female','Male','Female','Male']

exam_results['gender'] = gender

exam_results

      Name  Scores  gender
0    Aisha      90  Female
1    Bobby      87    Male
2     Erik      63  Female
3  Charlie      59    Male

In [17]:
exam_results['gender']

0    Female
1      Male
2    Female
3      Male
Name: gender, dtype: object

In [18]:
#Remove columns Temporary

exam_results.drop('Name',axis=1 )

# Remove columns permanately

#exam_results.drop('Name',axis=1, inplace = True )

   Scores  gender
0      90  Female
1      87    Male
2      63  Female
3      59    Male

In [19]:
# Column names and Row Indexes

exam_results.columns

Index(['Name', 'Scores', 'gender'], dtype='object')

In [20]:
exam_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Scores  4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [21]:
exam_results.describe()

          Scores
count   4.000000
mean   74.750000
std    16.007811
min    59.000000
25%    62.000000
50%    75.000000
75%    87.750000
max    90.000000

In [45]:
# Rename

exam_results.rename({'Name': 'FirstName'}, axis=1)

  FirstName  Scores  gender
0     Aisha      90  Female
1     Bobby      87    Male
2      Erik      63  Female
3   Charlie      59    Male

In [24]:
# Dealing with Missing Values

sparse = pd.DataFrame(
    {
    'a': [1,2,3],
    'b': [np.nan,4,np.nan],
    'c': [5, np.nan,np.nan]}

)
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [25]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [26]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [27]:
#Drop

sparse.dropna(axis=1)

   a
0  1
1  2
2  3

In [46]:
# Gruop by

exam_results.groupby('Name').mean()

         Scores
Name
Aisha      90.0
Bobby      87.0
Charlie    59.0
Erik       63.0

In [47]:
mylist=[1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    Name  Scores  gender
0  Aisha      90  Female
2   Erik      63  Female

In [48]:
exam_results.groupby(mylist).get_group(2)

      Name  Scores gender
1    Bobby      87   Male
3  Charlie      59   Male

In [34]:
# Group the people who obtained marks above or below 70

above_70 =exam_results['Scores'] > 70
above_70

below_70 =exam_results['Scores'] < 70
below_70

0    False
1    False
2     True
3     True
Name: Scores, dtype: bool

In [36]:
# the mean scores of the students who scored above or below 70

exam_results.groupby(above_70).mean()

exam_results.groupby(below_70).mean()

        Scores
Scores
False     88.5
True      61.0

In [49]:
# Merging and Joining

contacts = pd.DataFrame(
    {
     'Name' :['Aisha','Charlie'] ,
     'Tel'  :['+91 123 456 78 89', '+91 143 234 54 67'] 
    }
)

contacts

      Name                Tel
0    Aisha  +91 123 456 78 89
1  Charlie  +91 143 234 54 67

In [50]:
 # defaults to inner join
exam_results.merge(contacts, left_on='Name', right_on='Name')  

 # defaults to outer join

 exam_results.merge(contacts, left_on='Name', right_on='Name', how = 'outer')

      Name  Scores  gender                Tel
0    Aisha      90  Female  +91 123 456 78 89
1    Bobby      87    Male                NaN
2     Erik      63  Female                NaN
3  Charlie      59    Male  +91 143 234 54 67